[MASTER]
# Dossiers à ignorer
ignore=venv,build,dist

[MESSAGES CONTROL]
# Désactive les contrôles trop verbeux ou non pertinents pour ce projet
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0801,  # duplicate-code
    W0511,  # fixme (TODO/FIXME)
    C0103,  # invalid-name (noms de variables/fonctions)
    W0703,  # broad-except (except Exception)
    C0301,  # line-too-long
    E0401   # import-error

[FORMAT]
# Longueur max de ligne
max-line-length=100
# Indentation
indent-string='    '

[TYPECHECK]
# Modules dynamiques ou externes à ignorer pour l’analyse statique
ignored-modules=discord,asyncio,yt_dlp,PyNaCl,dotenv
# Ignore les membres injectés par mixins ou introspection
ignore-mixin-members=yes

[REPORTS]
# Format de sortie et désactivation du rapport global
output-format=colorized
reports=no
